.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #F1F8FB;
  height: 90vh;
  overflow-y: scroll;
}

.messageInput {
  flex-shrink: 0;
  align-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}