.formContainer {
  height: 80px;
  border-top: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textInput {
  padding: 10px;
  border: 1px solid #444;
  font-size: 18px;
  border-radius: 5px;
  height: 30px;
  width: 90vh;
  overflow: hidden;
}

.submitButton {
  padding-left: 20px;
  padding-right: 20px;
  /* margin: 0 50px; */
  height: 52px;
  border: 1px solid #e65c00;
  font-size: 18px;
  background-color: #e65c00;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 5px;
}